.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    padding:0 30px;
    background:#0b0d12;
}

.brand{
    display:flex;
    align-items:center;
    gap:12px;
}

.brand img{
    width:32px;
    height:32px;
}

.brand-text{
    font-size:28px;
    color:white;
    font-weight:700;
}

.nav-right{
    display:flex;
    align-items:center;
}

.profile-menu{
    display:flex;
    align-items:center;
    gap:12px;
}

.profile-pic{
    width:44px !important;
    height:44px !important;
    min-width:44px !important;
    min-height:44px !important;
    max-width:44px !important;
    max-height:44px !important;

    border-radius:50%;
    object-fit:cover;
    display:block;
    border:2px solid #1ED760;
}

.profile-name{
    color:white;
    font-weight:600;
}
/* ==========================
   CONNECT SPOTIFY BUTTON
========================== */

.connect-btn{
    display:flex;
    align-items:center;
    gap:10px;

    padding:12px 22px;

    background:#12161d;
    border:1px solid rgba(255,255,255,.08);

    border-radius:999px;

    color:#fff;
    text-decoration:none;

    font-weight:600;
    font-size:15px;

    transition:.3s ease;
}

.connect-btn:hover{

    background:#1ED760;
    color:#000;

    transform:translateY(-2px);

    box-shadow:
        0 10px 30px rgba(30,215,96,.35);

}

.connect-btn i{

    color:#1ED760;
    transition:.3s;

}

.connect-btn:hover i{

    color:#000;

}