.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    padding:0 30px;
    background:#0b0d12;
}

.brand{
    display:flex;
    align-items:center;
    gap:12px;
}

.brand img{
    width:32px;
    height:32px;
}

.brand-text{
    font-size:28px;
    color:white;
    font-weight:700;
}

.nav-right{
    display:flex;
    align-items:center;
}

.profile-menu{
    display:flex;
    align-items:center;
    gap:12px;
}

.profile-pic{
    width:44px !important;
    height:44px !important;
    min-width:44px !important;
    min-height:44px !important;
    max-width:44px !important;
    max-height:44px !important;

    border-radius:50%;
    object-fit:cover;
    display:block;
    border:2px solid #1ED760;
}

.profile-name{
    color:white;
    font-weight:600;
}