.hero{

    position:relative;
    overflow:hidden;

    min-height:370px;

    border-radius:30px;

    padding:45px;

    display:flex;
    flex-direction:column;
    justify-content:center;

    background:
        linear-gradient(rgba(5,8,10,.65),
        rgba(5,8,10,.88)),
        url("/static/images/aurora-bg.png");

    background-size:cover;
    background-position:center;

    border:1px solid rgba(255,255,255,.06);
}


/* AI Badge */

.hero-badge{

    display:inline-flex;

    align-items:center;

    gap:10px;

    width:max-content;

    padding:8px 16px;

    margin-bottom:22px;

    border-radius:999px;

    background:rgba(30,215,96,.12);

    color:#1ED760;

    font-size:14px;

    font-weight:600;

    border:1px solid rgba(30,215,96,.25);
}


/* Heading */

.hero h1{

    font-size:60px;

    line-height:1.05;

    font-weight:800;

    margin-bottom:18px;

    max-width:700px;
}

.hero h1 span{

    color:#1ED760;
}


/* Description */

.hero p{

    color:#b8bec8;

    max-width:560px;

    font-size:18px;

    line-height:1.8;

    margin-bottom:35px;
}


/* Buttons */

.hero-actions{

    display:flex;

    gap:18px;

    flex-wrap:wrap;
}

.generate-btn{

    border:none;

    background:#1ED760;

    color:#000;

    font-weight:700;

    padding:16px 28px;

    border-radius:16px;

    cursor:pointer;

    transition:.25s;
}

.generate-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 0 30px rgba(30,215,96,.35);
}

.secondary-btn{

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.12);

    padding:16px 28px;

    border-radius:16px;

    cursor:pointer;

    transition:.25s;
}

.secondary-btn:hover{

    background:rgba(255,255,255,.06);
}