.dashboard{

    display:grid;

    grid-template-columns:

        250px
        minmax(0,1fr)
        340px;

    gap:32px;

    padding:32px;

    min-height:calc(100vh - 80px);

}

.content{

    display:flex;

    flex-direction:column;

    gap:28px;

}

.right-panel{

    display:flex;

    flex-direction:column;

    gap:22px;

}