{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<link rel="stylesheet" href="{% static 'css/dashboard/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard/hero.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard/right_panel.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard/cards.css' %}">

{% endblock %}

{% block navbar_right %}

<div class="profile-menu">

    {% if profile_image %}
        <img src="{{ profile_image }}"
             class="profile-pic"
             alt="Profile">
    {% endif %}

    <span class="profile-name">{{ name }}</span>

    <i class="fa-solid fa-chevron-down"></i>

</div>

{% endblock %}

{% block content %}

<div class="dashboard">

    {% include "dashboard/sidebar.html" %}

    <main class="content">

        {% include "dashboard/hero.html" %}

    </main>

    {% include "dashboard/right_panel.html" %}

</div>

{% endblock %}